<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lab.android.nuc.ocrtest">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ocr_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.BaiduMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IDCardActivity"
            android:label="@string/idCardLabel" />
        <activity android:name=".activity.GeneralActivity" />
        <activity android:name=".activity.AccurateActivity" />
        <activity android:name=".activity.EnhanceActivity" />
        <activity android:name=".activity.BankCardActivity" />
        <activity android:name=".activity.HandWritingActivity" />
        <activity android:name=".activity.ImageBrowsweActivity"
            android:theme="@style/imageBrowser"/>
    </application>

</manifest>